* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle, #ffffff36, #000000ad);
    background-color: #001938;
    background-color: #001938;
    /*"#001938", "#331d0f", "#0f2404", "#35111d", "#3d1403"*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Añadido para centrar verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Añadido para centrar verticalmente */
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.movies {
    padding: 50px 0 150px 0;
}

.movies h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.header-container1 {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center; 
}
.header-container1 {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center; 
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.subtitulo {
    display: flex;
    gap: 0px;
    padding-bottom: 30px;
    justify-content: flex-start; /* Alinea el subtítulo hacia la izquierda */
    padding-left: 95px; /* Agrega un espacio hacia la izquierda */
    justify-content: flex-start; /* Alinea el subtítulo hacia la izquierda */
    padding-left: 95px; /* Agrega un espacio hacia la izquierda */
}

h2 {
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

h3 {
    margin: 0;
    color: #ffffff;
    letter-spacing: 6px;
    font-size: 22.5px;
}

.MMIAS {
    font-size: 80px;
    filter: blur(2px);
}

.EOR {
    font-size: 100px;
    filter: blur(0px);
}

.historias {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 600;
}

.entre {
    font-family: 'Montserrat-ExtraLight', sans-serif;
    font-weight: 100;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.icons-button-50anos {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('/Iconos/50Anos.png');
    background-size: 105% 80%;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0 30px;
}

.icons-button-uao {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('/Iconos/UAO.png');
    background-size: 110% 100%;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0 30px;
}

.icons-button-acreditacion {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('/Iconos/Acreditacion.png');
    background-size: 98% 98%;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 0 30px;
}

@media (max-width: 991px) {
    body {
        min-height: 0vh;
    }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {

    /* Example: Adjust button size or spacing for very small screens */
    .icons-button-50anos,
    .icons-button-uao,
    .icons-button-acreditacion {
        width: 40px;
        height: 40px;
    }
}

/* Estilos para el contenedor del "pegman" */
.pegman-container {
    position: absolute;
    top: 65%;    /* Alinea el "Pegman" verticalmente en la mitad de la página */
    left: 50%;    /* Ajusta la distancia desde la parte izquierda según tus necesidades */
    transform: translate(-50%, -50%);    /* Centra verticalmente el "Pegman" */
    z-index: 2;
}

/* Estilos para la imagen del "pegman" */
.pegman-image {
    width: 120px;
    height: auto;
}

.search {
    padding: 30px 30px 0 30px;
}

.movies {
    padding: 30px;
}

.icons {
    padding: 30px;
}


/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;

}
.character {
    /* Otras propiedades de estilo para el personaje */
  
    /* Propiedades de transición */
    transition-property: transform; /* La propiedad que queremos animar es 'transform' */
    transition-duration: 0.3s; /* Duración de la animación en segundos */
    transition-timing-function: ease; /* Función de temporización de la animación (suavizado) */
  }

}
.character {
    /* Otras propiedades de estilo para el personaje */
  
    /* Propiedades de transición */
    transition-property: transform; /* La propiedad que queremos animar es 'transform' */
    transition-duration: 0.3s; /* Duración de la animación en segundos */
    transition-timing-function: ease; /* Función de temporización de la animación (suavizado) */
  }
