* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle, #ffffff36, #000000ad);
    /*"#001938", "#331d0f", "#0f2404", "#35111d", "#3d1403"*/
}

.conainter {
    max-width: 90%;
    margin: 0 auto;
}


.movies {
    padding: 50px 0 150px 0;
}

.movies h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
}

.swiper-slide img {
    display: block;
    width: 100%;

}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Alinea verticalmente al centro */
    gap: 20px;
    padding-top: 20px;
}

.subtitulo {
    display: flex;
    padding-left: 502px;
    align-items: center;
    /* Alinea verticalmente al centro */
    gap: 0px;
    padding-bottom: 30px;
}

h2 {
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

h3 {
    margin: 0;
    color: #ffffff;
    letter-spacing: 6px;
    /* Aumenta el espacio entre las letras */
    font-size: 22.5px;
}

.MMIAS {
    font-size: 80px;
    /* Tamaño diferente para MMIAS */
    filter: blur(2px);
    /* Desenfocar el texto MMIAS */
}

.EOR {
    font-size: 100px;
    /* Tamaño diferente para EOR */
    filter: blur(0px);
    /* Mantener el texto EOR enfocado (sin desenfoque) */
}


.historias {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 600;
}

.entre {
    font-family: 'Montserrat-ExtraLight', sans-serif;
    font-weight: 100;
}

.icons-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    padding-top: 15px;
}

.icons-button-50anos {
    width: 60px;
    /* Define el ancho y alto del botón circular */
    height: 60px;
    border-radius: 50%;
    /* Hace que el botón tenga forma circular */
    background-image: url('/Iconos/50Anos.png');
    /* URL de la imagen de fondo */
    background-size: 105% 80%;
    background-position: center;
    /* Centra la imagen en el botón */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin: 0 30px;
    /* Agrega espacio horizontal entre los botones */

    /* Agrega otros estilos según sea necesario */
}

.icons-button-uao {
    width: 60px;
    /* Define el ancho y alto del botón circular */
    height: 60px;
    border-radius: 50%;
    /* Hace que el botón tenga forma circular */
    background-image: url('/Iconos/UAO.png');
    /* URL de la imagen de fondo */
    background-size: 110% 100%;
    background-position: center;
    /* Centra la imagen en el botón */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin: 0 30px;
    /* Agrega espacio horizontal entre los botones */

    /* Agrega otros estilos según sea necesario */
}

.icons-button-acreditacion {
    width: 60px;
    /* Define el ancho y alto del botón circular */
    height: 60px;
    border-radius: 50%;
    /* Hace que el botón tenga forma circular */
    background-image: url('/Iconos/Acreditacion.png');
    /* URL de la imagen de fondo */
    background-size: 98% 98%;
    background-position: center;
    /* Centra la imagen en el botón */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin: 0 30px;
    /* Agrega espacio horizontal entre los botones */

    /* Agrega otros estilos según sea necesario */
}

@media(max-width: 991px) {
    body {
        min-height: 0vh;
    }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {

    /* Example: Adjust button size or spacing for very small screens */
    .icons-button-50anos,
    .icons-button-uao,
    .icons-button-acreditacion {
        width: 40px;
        height: 40px;
    }
}


/* Estilos para el contenedor del "pegman" */
.pegman-container {
    position: absolute;
    top: 50%;
    /* Alinea el "Pegman" verticalmente en la mitad de la página */
    left: 30%;
    /* Ajusta la distancia desde la parte izquierda según tus necesidades */
    transform: translate(-50%, -50%);
    /* Centra verticalmente el "Pegman" */
    z-index: 2;
}


/* Estilos para la imagen del "pegman" */
.pegman-image {
    width: 120px;
    /* Ajusta el tamaño del "pegman" según tus necesidades */
    height: auto;
}

.search {
    padding: 30px 30px 0 30px;
}

.movies {
    padding: 30px;
}

.icons {
    padding: 30px
}



/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}