@import url(https://db.onlinewebfonts.com/c/3ad0aac697589e9dc6f60d8d55f27e0c?family=Alleyn+W01+Semibold);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: #211F20;

}

.conainter{
    max-width: 1200px;
    margin: 0 auto;
}

.search{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search i{
    font-size: 25px;
    color: #ffffff
}

.search-txt{
    display: flex;
    align-items: center;
}

.search-txt i{
    font-size: 40px;
    color:#F8010A;
  
}

.search-txt h2
{
    color: #ffffff;
    font-size: 30px;
    margin-left: 10px;
    font-family: "Alleyn W01 Semibold";
}

.movies
{
    padding: 50px 0 150px 0;
}

.movies h2
{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper
{
    width: 100%;
}

.swiper-slide
{
    background-position: center;
    background-size: cover ;
    width: 350px;
}

.swiper-slide img
{
    display: block;
    width: 100%;

}

.icons 
{
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}
.icons i
{
    font-size: 25px;
    color:#ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
} 

.icons i:hover
{
    color: aqua;
    background-color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2 );
    cursor: pointer;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente al centro */
    gap: 20px;
    padding-top: 20px;
  }
.subtitulo {
    display: flex;
    padding-left: 494px;
    align-items: center; /* Alinea verticalmente al centro */
    gap: 0px;
    padding-bottom: 30px;
  }
  
  h2 {
    margin: 0;
    color:#ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
  }

  h3 {
    margin: 0;
    color:#ffffff;
    letter-spacing: 6px; /* Aumenta el espacio entre las letras */
    font-size: 22.5px;
  }
  
  .MMIAS {
    font-size: 80px; /* Tamaño diferente para MMIAS */
    filter: blur(2px); /* Desenfocar el texto MMIAS */
  }
  
  .EOR {
    font-size: 100px; /* Tamaño diferente para EOR */
    filter: blur(0px); /* Mantener el texto EOR enfocado (sin desenfoque) */
  }

   
  .historias {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 600;
  }
  
  .entre {
    font-family: 'Montserrat-ExtraLight', sans-serif;
    font-weight: 100;
  }

@media(max-width: 991px)
{
    body
    {
        min-height: 0vh;
    }

    .search
    {
        padding: 30px 30px 0 30px;
    }
    .movies
    {
        padding: 30px;
    }
    .icons
    {
        padding: 30px
    }
}




